.chat-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: none;
  opacity: 0; /* Inizia invisibile per l'effetto fade-in */
  transition: opacity 0.5s ease-in-out; /* Aggiungi una transizione fluida */
}

.chat-component.ready {
  opacity: 1; /* Rendi visibile quando il componente è pronto */
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin: 0; /* Rimosso 'auto' per evitare la centratura */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  flex-grow: 1; /* Permette di crescere e riempire l'altezza del genitore */
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Stili per dispositivi mobili con orientamento verticale */
@media (max-width: 1024px), (orientation: portrait) {
    .chat-component {
      margin-top: 0; /* Nessun margine superiore su mobile */
      height: 100%;
    }
    .chat-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none; /* Rimuovi il bordo su mobile */
        border-radius: 0; /* Rimuovi il raggio del bordo su mobile */
        height: 100%; /* Occupa tutta l'altezza su mobile */
    }

    .chat-container h1 {
      font-size: 1.5em;
      line-height: 1.1;
    }

    .chat-container h2 {
      font-size: 1.2em;
      line-height: 1;
    }
}

